body {
        background-color: #EAF6F6;
      }

      
hr {/*this will apply to all horizontal rules we have in the body*/
        /*background-color: white;*/

        border-style: dotted none none;
        height: none;  /*it's better to use %percent instead of pixels */

        border-color: grey;
        border-width: 5px;

        width: 5%; /* 30% of the entire screen */

      }
